# Base de datos
DATABASE_URL=sqlite:///./cotecmar_conecta.db

# IA (no almacenar secretos reales en Git)
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5
AI_AUTO_ANALYZE=true

# Administración
ADMIN_PASSWORD=Cambiar-Esta-Clave
SESSION_SECRET=Generar-Un-Secreto-Largo-Y-Aleatorio
COOKIE_SECURE=false

# Aplicación
PUBLIC_BASE_URL=http://localhost:8000
MAX_UPLOAD_MB=8
COTECMAR_PRIVACY_URL=https://www.cotecmar.com/en/descargas/corporate/politica-corporativa-de-tratamiento-de-datos-personales
